# Core latex/pdflatex auxiliary files
.*.lb
*.aux
*.cb
*.cb2
*.fls
*.fmt
*.fot
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*
svg-inkscape/

# Bibliography auxiliary files (bibtex/biblatex/biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# makeidx
*.idx
*.ilg
*.ind

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
.Rproj.user

# R files
*.RData
*.Rhistory